* {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

#buttons {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#buttons button {
  border: 2px solid #D14239;
  padding: 10px;
  font-size: 15px;
  min-width: 10vw;
  background-color: #FBEED1;
  border-radius: 5px;
}

#buttons button:active {
  background-color: #ccbea0;
}

#board {
  border-radius: 3px;
  background-color: #6CAAA0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.score {
  border-radius: 3px;
  flex: 0 1 20%;
  background-color: #FBEED1;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#scores {
  align-self: stretch;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#message {
  padding: 5px;
  border-radius: 3px;
  background-color: #6CAAA0;
  min-width: 50vw;
  text-align: center;
  word-wrap: normal;
  font-size: 17px;
  font-weight: lighter;
}

.same-margin {
  margin-inline: 15vw;
}